* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  

body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
.image{
height: 7px;
 height: 200px;
}
h1{
padding-inline-end: 6rem;
}
.smiddle{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.button{
    display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
 
  font-size: xx-large;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #999;
  background-color: white;
}
.about{
    display: block;
    background-color: rgb(255, 255, 255);
    block-size: 1rem;
    padding-top: 20rem;
}
.about1{
display: block;
list-style-type: none;
text-align: center ;
background-color: aquamarine;
font-size: xx-large;
padding-bottom: 1rem;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 5rem;
}
header h1{

color: black;
}
nav{
display: flex;
align-items: center;
gap: 3rem;
margin-left: -5%;

}

nav a{
font-size: 25px;
letter-spacing: 0.1rem;
transition: color 0.25;
text-decoration: none;
color: inherit;
padding-inline: 1rem; /*gives space in between the contents of one div*/
margin-top: -20px;
font-weight: 100%;
}

nav a:hover{
    color: antiquewhite;
}
